* {
  margin: 0;
  padding: 0;
  color: black;
  box-sizing: border-box;
}

.app-header {
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background: url('../public/start-banner.png') no-repeat center center;
  background-size: cover;
}

.start-quiz-button {
  border: none;
  font-size: 14px;
  border-radius: 6px;
  background-color: #C3EDFF;
  padding: 10px 20px;
  cursor: pointer;
}

.results-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quote-section {
  width: 100%;
  min-height: 60vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('../public/result-banner.png') no-repeat center center;
  background-size: 100% 100%;
  color: white;
}

.quote-section h2 {
  margin-bottom: 20px;
}

.quote-section button {
  padding: 10px 20px;
  background-color: #5BC1ED;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.product-slider {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  overflow: hidden;
  width: 100%;
}

.product-card {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
  overflow: hidden;
  background-color: #EEF7FB;
}

.product-card img {
  width: 100%;
  height: 80%;
  object-fit: cover;
  border-radius: 16px;
}

.product-info {
  padding: 10px;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product-info h3, .product-info p {
  margin: 0;
  padding: 0;
}

.heart-icon-wrapper {
  position: absolute;
  top: 10px;
  right: 10px;
}

.wishlist-icon {
  font-size: 24px;
  background: none;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
}

.wishlist-added {
  color: red;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  padding: 5px 15px;
  border: 1px solid #ddd;
  background-color: #fff;
  cursor: pointer;
  margin: 0 5px;
  border-radius: 5px;
}

.pagination button:disabled {
  background-color: #f0f0f0;
  cursor: not-allowed;
}

.circular-bar {
  width: 120px;
}

.question-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.options {
  margin: 0;
  padding: 0;
}

.navigation-buttons {
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.back-button,
.next-button {
  border: none;
  background-color: transparent;
  text-decoration: underline;
  color: #677487;
  cursor: pointer;
}

.next-button {
  border-radius: 5px;
  background-color: #C3EDFF;
  padding: 10px 20px;
}

.carousel-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.dots-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.dot {
  width: 10px;
  height: 10px;
  margin: 0 5px;
  border-radius: 50%;
  background-color: #ddd;
  cursor: pointer;
}

.dot.active {
  background-color: #5BC1ED;
}

.carousel-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  margin-top: -70px;
  padding-right: 40px;
}

.arrow-left, .arrow-right {
  font-size: 30px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 10px;
  color: #5BC1ED;
  position: absolute;
  z-index: 10;
}

.arrow-left {
  left: 0;
}

.arrow-right {
  right: -100px;
  background-color: #C3EDFF;
  padding: 0;
  margin: 0;
  border-radius: 50%;
}

.info-card {
  background-color: #EEF7FB;
  padding: 0;
}
